html {
	font-family: Helvetica;
	font-size: 90%;
}
nav {
    position: fixed;
    height: 3em;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EBFBFB;
}
.col-sm-1 {
    padding: 1em;
}
.col-sm-4 {
    height: 100%;
    padding-left: 3em;
    padding-top: 0.15em;
}
.main {
    background-image: url('img/levitation-1374181_1920.jpg');
    height:100vh;
    background-size: cover;
    position: relative;
    z-index: -1;
    color: white;
    font-size: 2em;
}

.about-bar {
	padding: 1em;
}
